body{
color:white;
background:purple;
font-family:"Momo Signature",cursive;
}

.chamada{
    background:pink;
    padding-botton: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}